site_name: GPUStack
site_url: https://docs.gpustack.ai
theme:
  name: material
  logo: assets/logo-white.png
  favicon: assets/logo.png
  custom_dir: docs/overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: orange
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: light blue
      accent: orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - navigation.indexes
    - content.tooltips
    - navigation.path
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.action.view
    - content.action.edit
  icon:
    repo: fontawesome/brands/github-alt
  language: en
extra:
  generator: false
  version:
    provider: mike
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - sane_lists
  - pymdownx.details
  - pymdownx.tilde
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.tasklist:
      custom_checkbox: true
repo_url: https://github.com/gpustack/gpustack
edit_uri: edit/main/docs/
nav:
  - Overview: overview.md
  - Quickstart: quickstart.md
  - Installation:
      - Installation Script: installation/installation-script.md
      - Manual Installation: installation/manual-installation.md
      - Docker Installation: installation/docker-installation.md
      - Uninstallation: installation/uninstallation.md
  - Upgrade: upgrade.md
  - User Guide:
      - Playground: user-guide/playground.md
      - Model Management: user-guide/model-management.md
      - API Key Management: user-guide/api-key-management.md
      - User Management: user-guide/user-management.md
      - Inference Backends: user-guide/inference-backends.md
      - OpenAI Compatible APIs: user-guide/openai-compatible-apis.md
  - Architecture: architecture.md
  - Scheduler: scheduler.md
  - Troubleshooting: troubleshooting.md
  - API Reference: api-reference.md
  - CLI Reference:
      - Start: cli-reference/start.md
      - Chat: cli-reference/chat.md
  - Tutorials:
      - Deploying Vision Model: tutorials/vision-model.md
      - Enabling CPU Inference: tutorials/cpu-inference.md
      - Multiple Node Cluster: tutorials/multiple-node-cluster.md
      - Integration With Others: tutorials/integration-with-others.md

