site_name: GPUStack
site_url: https://docs.gpustack.ai
theme:
  name: material
  logo: assets/logo-white.png
  favicon: assets/logo.png
  custom_dir: docs/overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: orange
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: light blue
      accent: orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
  features:
    - search.suggest
    - search.highlight
    - content.tabs.link
    - navigation.indexes
    - content.tooltips
    - navigation.path
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.action.view
    - content.action.edit
  icon:
    repo: fontawesome/brands/github-alt
  language: en
plugins:
  - glightbox
  - search
extra:
  generator: false
  version:
    provider: mike
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - sane_lists
  - pymdownx.details
  - pymdownx.tilde
  - pymdownx.betterem
  - pymdownx.caret
  - pymdownx.inlinehilite
  - pymdownx.tasklist:
      custom_checkbox: true
repo_url: https://github.com/gpustack/gpustack
edit_uri: edit/main/docs/
nav:
  - Overview: overview.md
  - Quickstart: quickstart.md
  - Installation:
      - Installation Requirements: installation/installation-requirements.md
      - Installation Script: installation/installation-script.md
      - Docker Installation: installation/docker-installation.md
      - Manual Installation: installation/manual-installation.md
      - Air-Gapped Installation: installation/air-gapped-installation.md
      - Uninstallation: installation/uninstallation.md
  - Upgrade: upgrade.md
  - User Guide:
      - Playground:
          - Playgound: user-guide/playground/index.md
          - Chat: user-guide/playground/chat.md
          - Image: user-guide/playground/image.md
          - Audio: user-guide/playground/audio.md
          - Embedding: user-guide/playground/embedding.md
          - Rerank: user-guide/playground/rerank.md
      - Model Management: user-guide/model-management.md
      - Model Catalog: user-guide/model-catalog.md
      - API Key Management: user-guide/api-key-management.md
      - User Management: user-guide/user-management.md
      - Inference Backends: user-guide/inference-backends.md
      - Pinned Backend Versions: user-guide/pinned-backend-versions.md
      - OpenAI Compatible APIs: user-guide/openai-compatible-apis.md
      - Image Generation APIs: user-guide/image-generation-apis.md
      - Rerank API: user-guide/rerank-api.md
  - Tutorials:
      - Setting Up a Multi-node GPUStack Cluster: tutorials/setting-up-a-multi-node-gpustack-cluster.md
      - Performing Distributed Inference Across Workers: tutorials/performing-distributed-inference-across-workers.md
      - Using DeepSeek R1: tutorials/using-deepseek-r1.md
      - Using Image Generation Models: tutorials/using-image-generation-models.md
      - Using Audio Models: tutorials/using-audio-models.md
      - Using Reranker Models: tutorials/using-reranker-models.md
      - Using Vision Language Models: tutorials/using-vision-language-models.md
      - Recommended Parameters for Image Generation Models: tutorials/recommended-parameters-for-image-generation-models.md
      - Editing Images: tutorials/editing-images.md
      - Creating Text Embeddings: tutorials/creating-text-embeddings.md
      - Inference with Tool Calling: tutorials/inference-with-tool-calling.md
      - Running Inference with Ascend NPUs: tutorials/running-inference-with-ascend-npus.md
      - Running Inference with Hygon DCUs: tutorials/running-inference-with-hygon-dcus.md
      - Running Inference with AMD GPUs: tutorials/running-inference-with-amd-gpus.md
      - Running on Copilot+ PCs with Snapdragon X: tutorials/running-on-copilot-plus-pcs-with-snapdragon-x.md
      - Running Inference with Moore Threads GPUs: tutorials/running-inference-with-moorethreads-gpus.md
      - Running Inference on CPUs: tutorials/inference-on-cpus.md
  - Architecture: architecture.md
  - Scheduler: scheduler.md
  - Troubleshooting: troubleshooting.md
  - FAQ: faq.md
  - API Reference: api-reference.md
  - CLI Reference:
      - Start: cli-reference/start.md
      - Chat: cli-reference/chat.md
      - Draw: cli-reference/draw.md
      - Download Tools: cli-reference/download-tools.md
