apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: http://127.0.0.1:9090/prometheus
    isDefault: true
    access: proxy
    editable: true
    orgId: 1
