global:
  scrape_interval: 15s
  scrape_timeout: 10s
  evaluation_interval: 15s
scrape_configs:
- job_name: prometheus
  honor_timestamps: true
  scrape_interval: 15s
  scrape_timeout: 10s
  metrics_path: /metrics
  scheme: http
  static_configs:
  - targets:
    - localhost:9090
- job_name: gpustack-worker-discovery
  scrape_interval: 5s
  http_sd_configs:
  - url: 'http://gpustack-server:10161/metrics/targets'
    refresh_interval: 1m
- job_name: gpustack-server
  scrape_interval: 10s
  static_configs:
  - targets: ['gpustack-server:10161']
