# Namespace
apiVersion: v1
kind: Namespace
metadata:
  name: {{ config.namespace }}
---
# Secret
apiVersion: v1
kind: Secret
metadata:
  name: registration-token
  namespace: {{ config.namespace }}
type: Opaque
data:
  {%- for k, v in config.env.items() %}
  {{ k }}: {{ v | b64encode }}
  {%- endfor %}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ config.namespace }}
  name: gpustack-worker
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: gpustack-worker
subjects:
  - kind: ServiceAccount
    name: gpustack-worker
    namespace: {{ config.namespace }}
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
# Service
apiVersion: v1
kind: Service
metadata:
  name: worker
  namespace: {{ config.namespace }}
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "10151"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  selector:
    {%- if config.multi_vendor_mode %}
    app.kubernetes.io/component: worker
    {%- else %}
    app: gpustack-worker
    {%- endif %}
  ports:
    - name: api
      port: 10150
      targetPort: 10150
    - name: metrics
      port: 10151
      targetPort: 10151
